/*Importando as fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/*Cores principais*/

:root{
    --cor-1: #3b5ba7;
    --cor-2: #1d2c5e;
    --cor-3: #ffcb05;
    --cor-4: #ee6b2f;
    --cor-5: #E6bc2f;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #616161;
    border-bottom: 10px solid var(--cor-5);
    
}

.cabecalho div{
    margin-top: 20px;
    margin-bottom: 10px;
}


.logo img{
    margin-left: 100px;
}

.items-nav{
    margin-right: 100px;
}

.items-nav a{
    margin: 10px;
    padding: 44px;
    text-decoration: none;
    color: var(--cor-5);
    font-family: roboto, sans-serif;
    font-weight: 800;
    font-size: 17px;
    border-radius: 5px;
    transition: 400ms;
}

.items-nav a:hover{
   background-color: var(--cor-5);
   color: white;
}

body{
  background-image: linear-gradient(to right,#3b5ba7, #1d2c5e);

}

/* CSS da página principal */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-pokedex{
    background: white;
    height: 800px;
    width: 1100px;
    max-width: 1700px;
    margin-top: 100px;
    border-radius: 10px;
}

.pokedex-line{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    justify-content: space-between;
    
    }

.pokemon{
    text-align: center;
    font-family: roboto, sans-serif;
    
    
}

.pokemon-name{
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
}
.pokemon img{
    width: 200px;
    background-color: rgb(231, 229, 229);
          
}

.poke-abilities{
    margin-top: 15px;
    display: flex;

    
}


.type{
    background-color: black;
    color: white;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.power{
    background-color: var(--cor-4);
    color: white;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    
}


.pokemon-number{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: lightgray;
    margin-bottom: 20px;
}